body {
    background-color: #D3D3D3;
}

h1 {
    color: blue;
    font-size: 50px;
    font-family: Courier;
    text-align: center;
}

h2 {
    color: green;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    color: black;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}

img {
    border: 5px solid black;
    height: 240px;
    width: 260px;
    padding-right: 0px;
    padding-left: 0px;
}

#titleSection {
    text-align: center;
    font-family: "Times New Roman", "Times", "serif";
}

#teamPictures {
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

figure{
    display: inline-block;
    margin: 10px;
}

figcaption{
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large

}